{% extends "base.html" %}

{% block content %}  
  
<h1>Post A New Blog</h1>
    <form method="POST">
        <div>
            <label>
                Blog Title:
            </label>
        </div>
        <input type="text" name="blog_title" />
        <div>
            <label>
                Blog Text:
            </label>
        </div>
        <textarea rows="4" cols="50" name="blog_text"></textarea>
        <div>
            <input type="submit" value="Post Blog" name="blog_post" />
        </div>
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No Blogs yet</p>
    {% else %}

        
            {% for blog in blogs %}
            <h1>{{blog.title}}</h1>
            <p>{{blog.body}}</p>
            {% endfor %}
        

    {% endif %}

{% endblock %}