{% extends "base.html" %}

{% block content %}  
  
<h1>What's on your mind?</h1>
<div class="d-flex justify-content-center align-items-center container ">
    <div class="form-group" id="form-style">    
<form action="/newpost" method="POST">
        <div>
            <label>
                Blog Title:
            </label>
        </div>
        <input class="form-control" type="text" name="blog_title" value="{{blog_title}}" />
        <p class="error">{{empty_title_error}}</p>
        <div>  
            <label>
                Blog Text:
            </label>
        </div>
        <textarea rows="4" cols="50" class="form-control" name="blog_text">{{blog_text}}</textarea>
        <p class="error">{{empty_text_error}}</p>
        <div>
            <button type="submit" class="btn btn-info">Blog It!</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}