{% extends "base.html" %}

{% block content %}    
<h1>Sign up, keep calm and blog on!</h1>
<form action="/signup" method="POST">
    <table>
        <tr>
            <td>
                <label>Username 
                    <input type="text" name="username" placeholder="johndoe@email.com" value="{{email}}" />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password
                    <input type="password" name="password" placeholder="3-20 characters" />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Verify Password
                    <input type="password" name="verify" placeholder="3-20 characters, must match password" />
                </label>
            </td>
        </tr>
    </table>
    <input type="submit" value="Sign Up" />
</form>

{% endblock %}